* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

@media only screen and (max-device-width: 360px){
    .cabecalo{width: 360px;}
    .mapa iframe{width: 100%; height: 100%}   

}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #333
}

p {
    font-size: 1em;
    color: #777
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 54px 8%;
    background-color: #222f3e;
}

.logo a {
    width: 200px;
    height: 48px;
    float: left;
    background: url(img/logo.png) no-repeat;
    font-size: 0;
}

.cabecalho form {
    width: 30%;
    float: right;

}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    cursor: pointer;
}

.menu {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}

.menu li {
    float: left
}

.menu li a {
    color: #9d9d9d;
    margin-right: 25px;
}

.menu li a:hover {
    color: #fff
}

.social-icons {
    float: right
}

.social-icons a {
    color: #fff;
    float: left;
    margin-left: 15px;
}

.btn-facebook:hover {
    color: #3B5998
}

.btn-twitter:hover {
    color: #54A4D6
}

.btn-instagram:hover {
    color: #E1306C
}

.Inicio {
    width: 100%;
    float: left;
    padding: 20px 8%
}

.sobre {
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2 {
    margin-bottom: 15px;
}

.sobre img {
    width: 50%;
    float: left;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

.sobre p {
    text-align: justify;
}

.newsletter {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 50px 8%;
}

.newsletter h3 {
    font-size: 1.8em;
    color: #fff;
}

.newsletter p {
    font-size: 1.2em;
    color: #fff
}

.newsletter form {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.newsletter input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: initial;
    float: left;
}

.newsletter button {
    width: 18%;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.rodape {
    width: 100%;
    float: left;
    background-color: #222f3e;
    padding: 20px 8%
}

.rodape p {
    color: #fff
}

.ondeestamos {
    width: 100%;
    float: left;
    padding: 20px 8%;
}

.ondeestamos p {
    text-align: justify;
    float: left;
}

.mapa iframe{
    width: 480px;
    height: 480px;
}
.EnviaMaterial{
    width: 100%;
    height: 100%;
    float: left;
    padding: 20px 8%;
    
}
.formulariomaterial{
    width: 50%;
    padding: 20px 8%;
    float:left;
}

.formulariomaterial input[type="text"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}
.formulariomaterial input[type="email"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
}
.formulariomaterial button{
    width: 18%;
    background-color: #576574;
    padding: 10px 5px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.formulariomaterial input[type="file"]{
    padding: 15px 10px;
    float:left;
    
}

.faleconosco{
    width: 100%;
    height: 100%;
    padding: 20px 8%;
    float:left;
}

.formulariofaleconosco{
    width: 50%;
    padding: 20px 8%;
    float:left;
}

.formulariofaleconosco input[type="text"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

.formulariofaleconosco input[type="email"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
}

.formulariofaleconosco button{
    width: 18%;
    background-color: #576574;
    padding: 10px 5px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.formulariofaleconosco textarea{
    resize: none;
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

.pagina_registro {
    width: 50%;
    padding: 20px 8%;
    float:left;
}

.form_registro{
    width: 100%;
    padding: 20px 8%;
    float:left;
}

.form_registro input[type="text"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

.form_registro input[type="email"]{
    width: 100%;
    padding: 10px 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
}

.form_registro button{
    width: 18%;
    background-color: #576574;
    padding: 10px 5px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}